.odd {
	background-color:#ddd;
}
#exceltable {
	width:100%;
	}
#exceltable td {
	padding:10px 15px;	
}
#exceltable th {
	padding-top:20px;
	padding-bottom:10px;
}
#exceltable_filter {
	float:right;
}
hr {
	color: #ecf0f1 !important;
	background-color: #ecf0f1 !important;
	box-shadow:0px 0px 10px rgba(0,0,0,0.2);
}
.btn-secondary {
    margin-left: 10px !important;
    color: #ffffff;
    background-color: #09575d;
    transition: 0.2s;
    border-radius: 4px !important;
}
.btn-secondary:hover {
    margin-left: 10px !important;
    color: #09575d;
    background-color: #ffffff;
    box-shadow: 0 0 10px #09575d;
}