
<div class="bg-primary form-control-static textalign-center">Hign Price Products</div>
<div class="row-fluid">
    <div class="span12">
        <div>
            <img src="../Images/GALAXY_SIII_mini_Product_Image4.jpg" class="img-responsive" />
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>Price:</dt>
                <dd>$ 2125.00</dd>
                <dt>Product Name:</dt>
                <dd>Blade</dd>
                <dt>Product Number:</dt>
                <dd>BL-2036</dd>
            </dl>
        </div>
    </div>
</div>
<hr />
<div class="row-fluid">
    <div class="span12">
        <div>
            <img src="../Images/GALAXY_SIII_mini_Product_Image4.jpg" class="img-responsive" />
        </div>
        <div>
            <dl class="dl-horizontal">
                <dt>Price:</dt>
                <dd>$ 2125.00</dd>
                <dt>Product Name:</dt>
                <dd>Blade</dd>
                <dt>Product Number:</dt>
                <dd>BL-2036</dd>
            </dl>
        </div>
    </div>
</div>
