
<div class="bg-primary form-control-static textalign-center">Latest Added </div>
<p><span class="glyphicon glyphicon-time"></span> Added on Oct 28, 2013 at 11:00 AM</p>
<img src="../Images/GALAXY_SIII_mini_Product_Image4.jpg" class="img-responsive" />
<hr>
<p><span class="glyphicon glyphicon-time"></span> Added on Oct 28, 2013 at 11:00 AM</p>
<img src="../Images/GALAXY_SIII_mini_Product_Image4.jpg" class="img-responsive" />
<hr>
<p><span class="glyphicon glyphicon-time"></span> Added on Oct 28, 2013 at 11:00 AM</p>
<img src="../Images/GALAXY_SIII_mini_Product_Image4.jpg" class="img-responsive" />

